<!DOCTYPE html>
<html>

  <head>
    <title>Hello, world!</title>
  </head>

  <body>
    <h3>Select a user</h3>
    <ul>
      <li>
        <a href="/Ashly">Ashly</a>
      </li>
      <li>
        <a href="/Brittany">Brittany</a>
      </li>
    </ul>



    <h1>Hello, world! My name is <%= name %>.</h1>
    <p>
      I am <%= age %> years old, and my favorite food is <%= food %>.
    </p>
    <p>
      <a href="/hello">Link to hello</a>
    </p>
  </body>

</html>
