<!DOCTYPE html>
<html>

  <head>
    <title>Hello, world!</title>
  </head>

  <body>
    <h3>Select a user</h3>
    <ul>
      <li>
        <a href="/Ashly">Ashly</a>
      </li>
      <li>
        <a href="/Brittany">Brittany</a>
      </li>
    </ul>
  </body>

</html>
